.aside {
  background: url("../assets/images/bg-sidebar-mobile.svg") no-repeat;
  background-size: cover;
  height: 15rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aside_list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.aside_links {
  text-decoration: none;
  color: aliceblue;
  border: 3px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  transition: 0.2s ease-in;
  font-size: 1.5rem;
  font-weight: 800;

  &:hover {
    background-color: rgb(174, 206, 231);
    color: rgb(15, 15, 15);
  }
}
.aside_list_items {
  list-style: none;
}
