.main {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 9rem;
  min-height: 30rem;
  margin: 0 1.5rem;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: rgb(19, 31, 65);
}
