.aside {
  background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat;
  background-size: cover;
  height: 15rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aside_list {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 15rem;
}
